In [2]:
# Import pandas library
import numpy as np
import pandas as pd
schools = pd.read_csv('Resources/schools_complete.csv') 
students = pd.read_csv('Resources/students_complete.csv') 

#Calculate total schools, students, and budget of district
school_count = schools['School ID'].count()
student_count = schools['size'].sum()
total_budget = schools['budget'].sum()

# Average math and reading scores
Avg_Math = students['maths_score'].mean()
Avg_Reading = students['reading_score'].mean()

# Calculate pass rates/Pct
Math_Pass = students.loc[students['maths_score'] >= 50]
Math_Pct = len(Math_Pass)/ student_count * 100
Reading_Pass = students.loc[students['reading_score'] >= 50]
Reading_Pct = len(Reading_Pass)/ student_count * 100
overall_Pass = (Math_Pct + Reading_Pct)/2 

#district summary dataframe
Dist_School_summary = pd.DataFrame({"Total Schools": school_count,
                                "Total Students": student_count,
                                "Total Budget": total_budget,
                                "Average Math Score": Avg_Math,
                                "Average Reading Score": Avg_Reading,
                                "% Passing Math": Math_Pct,
                                "% Passing Reading": Reading_Pct,
                                "% Overall Passing Rate": [overall_Pass]
                                })

Dist_School_summary = Dist_School_summary[["Total Schools", "Total Students", "Total Budget", 
                                     "Average Math Score", "Average Reading Score", 
                                     "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

Dist_School_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,85.252744

In [3]:
# Merge schools and students
outputt = pd.merge(schools, students, on="school_name")
outputt = outputt.drop(['School ID', 'Student ID'], axis=1)

# Setting index
school_index = schools.set_index('school_name')
school_type = school_index['type']
school_students = school_index['size']
school_budget = school_index['budget']
psb = school_budget/school_students

# Setting index and groupby for dataframe
index = outputt.set_index('school_name')
grouped = index.groupby(['school_name'])

#Average math and reading score
school_avg_math = grouped['maths_score'].mean()
school_avg_read = grouped['reading_score'].mean()

#calculating math Pass 
total_stu = grouped['size'].count()
grouped_math = Math_Pass.groupby('school_name')
school_pass_math = grouped_math['maths_score'].count()/total_stu*100

#calculating reading Pass 
grouped_reading = Reading_Pass.groupby('school_name')
school_pass_read = grouped_reading['reading_score'].count()/total_stu*100
                             
# Calculating overall pass rate
overall_pass = (school_pass_math + school_pass_read)/2

# Creating dataframe for summary
D_school_summary = pd.DataFrame({"School Type": school_type,
                              "Total Students": school_students,
                              "Total School Budget": school_budget,
                              "Per Student Budget": psb,
                              "Average Math Score": school_avg_math,
                              "Average Reading Score": school_avg_read,
                              "% Passing Math": school_pass_math,
                              "% Passing Reading": school_pass_read,
                              "Overall Passing Rate": overall_pass})

# Reorganize school summary columns 
D_school_summary = D_school_summary[["School Type", "Total Students", "Total School Budget", 
                                 "Per Student Budget", "Average Math Score", "Average Reading Score", 
                                 "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]
D_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,89.509646
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,89.962325
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,82.231265
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,82.329317
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,89.850136

In [4]:
# Top performing schools by passing rate
Top_Performers = D_school_summary.loc[D_school_summary['Overall Passing Rate'] > 85]
Top_Performers.sort_values(['Overall Passing Rate'], ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,89.962325
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,89.850136
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,89.509646
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,89.227166
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,89.222222

In [5]:
#bottom performing schools summary by passing rate
Worst_Performers = D_school_summary.loc[D_school_summary['Overall Passing Rate'] < 85]
Worst_Performers.sort_values(['Overall Passing Rate'], ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,81.413161
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,81.573534
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,82.020584
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,82.041174
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,82.231265

In [6]:
# Math scores by year
Year9_Math = students.loc[students['year']=='9'].groupby("school_name")
Math_Year9 = Year9_Math['maths_score'].mean()
Year10_Math = students.loc[students['year']=='10'].groupby("school_name")
Math_Year10 = Year10_Math['maths_score'].mean()
Year11_Math = students.loc[students['year']=='11'].groupby("school_name")
Math_Year11 = Year11_Math['maths_score'].mean()
Year12_Math = students.loc[students['year']=='12'].groupby("school_name")
Math_Year12 = Year12_Math['maths_score'].mean()

# Dataframe for math scores year wise
math_summary_yearwise = pd.DataFrame({"9": Math_Year9,
                            "10": Math_Year10,
                            "11": Math_Year11,
                            "12": Math_Year12})
math_summary_yearwise = math_summary_yearwise[["9","10","11","12"]]
math_summary_yearwise.head()

Empty DataFrame
Columns: [9, 10, 11, 12]
Index: []

In [7]:
# Reading scores by year
Year9_read = students.loc[students['year']=='9'].groupby("school_name")
Read_Year9 = Year9_read['reading_score'].mean()
Year10_read = students.loc[students['year']=='10'].groupby("school_name")
Read_Year10 = Year10_read['reading_score'].mean()
Year11_read = students.loc[students['year']=='11'].groupby("school_name")
Read_Year11 = Year11_read['reading_score'].mean()
Year12_read = students.loc[students['year']=='12'].groupby("school_name")
Read_Year12 = Year12_read['reading_score'].mean()

# Dataframe for math scores year wise
reading_summary_yearwise = pd.DataFrame({"9": Read_Year9,
                            "10": Read_Year10,
                            "11": Read_Year11,
                            "12": Read_Year12})
reading_summary_yearwise = math_summary_yearwise[["9","10","11","12"]]
reading_summary_yearwise.head()

Empty DataFrame
Columns: [9, 10, 11, 12]
Index: []

In [8]:
#Scores by School Spending
D_school_summary = pd.DataFrame({"School Type": school_type,
                              "Total Students": school_students,
                              "Total School Budget": school_budget,
                              "Per Student Budget": psb,
                              "Average Math Score": school_avg_math,
                              "Average Reading Score": school_avg_read,
                              "% Passing Math": school_pass_math,
                              "% Passing Reading": school_pass_read,
                              "Overall Passing Rate": overall_pass})
# Creating bins
bins = [0,585,615,645,675]

# Creating names for bins
spending_range = ['<$585','$585-615','$615-645','$645-675']

# Change formatting to float so it can be binned 
D_school_summary['Per Student Budget'] = D_school_summary['Per Student Budget'].replace('$', '')
D_school_summary['Per Student Budget'] = D_school_summary['Per Student Budget'].astype(float)
                                                      
D_school_summary["Spending Range Per Student"] = pd.cut(D_school_summary["Per Student Budget"], 
                                                         bins, labels=spending_range)
spend_summary = D_school_summary.groupby("Spending Range Per Student")
spend_summary = spend_summary[["Average Math Score", "Average Reading Score", "% Passing Math", 
                               "% Passing Reading", "Overall Passing Rate"]]
spend_summary.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Range Per Student,,,,,
<$585,71.364587,70.716577,88.835926,86.390517,87.613222
$585-615,72.061215,70.935557,91.611445,86.651266,89.131356
$615-645,70.593378,70.268222,86.932827,85.153583,86.043205
$645-675,68.884391,69.045403,81.568470,81.769716,81.669093

In [9]:
#Scores by School Size

#creating bins
R_bins = [0, 1000, 2000, 5000]

# Creating names for bins
R_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"] 
D_school_summary["size"] = pd.cut(D_school_summary["Total Students"],R_bins, labels = R_labels)

Size_summary = D_school_summary.groupby("size")
Size_summary = Size_summary[["Average Math Score", "Average Reading Score", "% Passing Math", 
                               "% Passing Reading", "Overall Passing Rate"]]
Size_summary.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,89.182190
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,88.280354
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,83.776994